* {
    font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
    font-size: 18px;
    background: #777;
    text-align: center;
    max-width: 960px;
    margin: auto;
  }

  header {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .nav {
    background: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
  }
  

  .section {
    background: #ebebeb;
    float: left;
    padding: 20px;
    height: 250px;
    /* width: 495px;
    aside gets pushed underneath section if webpage is shrunk horizontally */
    width:60%;
    margin-right: 20px;
  }

  .aside {
    background: #ebebeb;
    padding: 20px;
    height: 250px;
    overflow: auto;
  }

  .article {
    clear: both;
    color: #ebebeb;
    overflow: auto;
    background: #777;
    margin-top: 20px;
    padding: 20px;
  }

  h1 {
    color: #777;
    background: #ebebeb;
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 2%;
    margin-right: 2%;
  }

  p {
    color: #777;
    background: #ebebeb;
    margin-left: 2%;
    margin-right: 2%;
    padding: 15px;
  }

  footer {
    background: #ebebeb;
    padding: 20px;
    margin-top: 20px;
  }